body {
  background: linear-gradient(-45deg, #447752, #e73c7e, #2344d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* animated background gradient adapted from https://manuelpinto.in */

 /* -------------------------------- 

xSVG-Animation  - courtesy of Brett Starks brettzen.github.io

-------------------------------- */
.page-wrapper::before {
  background-image: url("O.svg");
  background-repeat: no-repeat;
  content: "";
  max-width: 160px;
  padding: 300px 150px 0;
  position: relative;
  animation: float 5s infinite ease;
  margin: 0 auto -45px; }
  @media only screen and (min-width: 768px) {
    .page-wrapper::before {
      padding: 300px 22% 0;
      transform-origin: 22% center;
      animation: sail 15s infinite ease;
      margin: 0 0 -43px;
      z-index: 0; } }

@keyframes float {
  0% {
    transform: rotate(-2deg); }
  50% {
    transform: rotate(3deg); }
  100% {
    transform: rotate(-2deg); } }
@keyframes sail {
  0% {
    left: 0;
    transform: rotate(-2deg); }
  12.5% {
    transform: rotate(3deg); }
  25% {
    transform: rotate(-2deg); }
  37.5% {
    transform: rotate(3deg); }
  50% {
    left: 75%;
    transform: rotate(-2deg) rotateY(180deg); }
  62.5% {
    transform: rotate(3deg) rotateY(180deg); }
  75% {
    transform: rotate(-2deg) rotateY(180deg); }
  87.5% {
    transform: rotate(3deg) rotateY(180deg); }
  100% {
    left: 0;
    transform: rotate(-2deg); } }

main {
  max-width: 29rem;
  padding: 2rem;
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 3.5em;
  color: rgb(200, 244, 244);
}

#instructions {
  text-align: center;
  color: rgb(200, 200, 244);
  border: 2px solid rgb(200, 200, 244);
  border-radius: 10px;
}

#difficulty {
  height: 58px;
  width: 140px; 
  border-radius: 15px; 
  font-size: 24px;
  background-color: rgb(255, 255, 153);
  color: #667;
  box-shadow: 0 9px #998;
  padding-left: 20px;
}

.controls {
  text-align: center;
}

.square {
  display: inline-block;
  width: 3em;
  height: 2em;
  text-align: center;
  font-size: 3em;
  margin: 0;
  padding: 0;
  line-height: 95px;
  color: rgb(255, 255, 255);
}

.left {
  border-right: 1px solid rgb(255, 255, 153);
}

.right {
  border-left: 7px solid rgb(255, 255, 153);
}

.top {
  border-bottom: 1px solid rgb(222, 222, 153);
}

.bottom {
  border-top: 7px solid rgb(255, 255, 153);
}

.v-middle {
   border-right: 1px solid rgb(255, 255, 153);
   border-left: 7px solid rgb(255, 255, 153);
}

.h-middle {
   border-top: 7px solid rgb(255, 255, 153);
   border-bottom: 1px solid rgb(255, 255, 153);
}

/* Buttons */
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #666;
  background-color: rgb(255, 255, 153);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: rgb(224, 224, 139)}

.button:active {
  background-color: rgb(224, 224, 139);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#difficulty:hover {background-color: rgb(224, 224, 139)}

#difficulty:active {
  background-color: rgb(224, 224, 139);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
